:root {
   --color-primary-1:  #F9F9F9;
   --color-primary-2:  #F7F7F7;
   --color-primary-3:  #F0F0F0;
   --color-primary-4:  #E8E8E8;
   --color-primary-5:  #E0E0E0;
   --color-primary-6:  #C8C8C8; 
   --color-primary-7:  #A0A0A0;
   --color-primary-8:  #787878;
   --color-primary-9:  #505050;
   --color-primary-10: #2E2E2E;
   --color-primary-11: #161616;
   --color-primary-12: #121212; 
 
   --color-accent-1: #FFFCEF;
   --color-accent-2: #FFF9DF;
   --color-accent-3: #FFF6CF;
   --color-accent-4: #FFF3BF;
   --color-accent-5: #FEEFB0;
   --color-accent-6: #FEECA0; 
   --color-accent-7: #E8D88E;
   --color-accent-8: #D2C47C;
   --color-accent-9: #BCAF6A;
   --color-accent-10: #A69958;
   --color-accent-11: #908446;
   --color-accent-12: #7A6E34;
 
   --color-destructive-1:  #FDECEF;
   --color-destructive-2:  #F9D1D9;
   --color-destructive-3:  #F5B6C3;
   --color-destructive-4:  #F199AD;
   --color-destructive-5:  #EC7D97;
   --color-destructive-6:  #D75068; 
   --color-destructive-7:  #C2485E;
   --color-destructive-8:  #AC4053;
   --color-destructive-9:  #963848;
   --color-destructive-10: #81303E;
   --color-destructive-11: #6B2833;
   --color-destructive-12: #561F29;


   --color-background: var(--color-primary-12);
   --color-foreground: var(--color-primary-1);
   --color-neutral: var(--color-primary-7);

   --font-primary: "pt_sans", sans-serif;
   
   --text-sm: 0.9525rem;
   --text-base: 1.0325rem;
}