.prose {
   --prose-color: var(--color-foreground);
   --prose-heading-color: var(--color-foreground);
   --prose-strong-color: var(--color-foreground);
   --prose-link-color: var(--color-foreground);
   --prose-code-background: var(--color-primary-1);
   --prose-code-color: var(--color-foreground);
   --prose-marker-color: color-mix(
      in oklab,
      var(--color-primary-12) 60%,
      transparent
   );
   --prose-link-underline-color: var(--color-foreground);
   --prose-th-borders: var(--color-primary-7);
   --prose-td-borders: var(--color-primary-7);
   --prose-hr-color: var(--color-primary-3);
   --prose-blockquote-border-color: var(--color-gray-primary-7);

   color: var(--prose-color);
   font-size: 0.9825rem;
   line-height: 1.75;
   word-break: break-word;
   word-wrap: break-word;

   *:where(:not(.not-prose, .not-prose *, button, br, :first-child)) {
      margin-top: calc(var(--spacing) * 1);
   }

   img {
      border: 1px solid var(--color-neutral);
      border-radius: 0.5rem;
      margin-block: 1rem;
   }

   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
      color: var(--prose-heading-color);
   }

   h1:where(:not(.not-prose, .not-prose *)) {
      font-size: 1.35rem;
      &:not(:first-child) {
         margin-top: calc(var(--spacing) * 8);
      }
   }

   h2:where(:not(.not-prose, .not-prose *)) {
      font-size: 1.25rem;
      &:not(:first-child) {
         margin-top: calc(var(--spacing) * 7);
      }
      &:not(.app-prose, .app-prose *) {
         margin-bottom: calc(var(--spacing) * 4);
      }
   }

   h3:where(:not(.not-prose, .not-prose *)) {
      font-size: 1.05rem;
      &:not(:first-child) {
         margin-top: calc(var(--spacing) * 2);
      }
   }
   h3:where(:not(.not-prose, .not-prose *, .app-prose, .app-prose *)) {
      font-size: 1.15rem;
      margin-bottom: calc(var(--spacing) * 3);
      &:not(:first-child) {
         margin-top: calc(var(--spacing) * 6);
      }
   }

   h4:where(:not(.not-prose, .not-prose *)) {
      font-size: 1.0725rem;
      &:not(:first-child) {
         margin-top: calc(var(--spacing) * 5);
      }
   }

   ul:where(:not(.not-prose, .not-prose *)) {
      margin-top: calc(var(--spacing) * 2);
      padding-left: calc(var(--spacing) * 4.25);
      list-style-type: disc;
   }

   ul li:where(:not(.not-prose, .not-prose *)) {
      padding-left: calc(var(--spacing) * 1);
   }

   ul li:where(:not(.not-prose, .not-prose *))::marker {
      color: var(--prose-marker-color);
   }

   ol:where(:not(.not-prose, .not-prose *)) {
      margin-top: calc(var(--spacing) * 4);
      padding-left: calc(var(--spacing) * 3.75);
      list-style-type: decimal;
   }

   ol li:where(:not(.not-prose, .not-prose *)) {
      padding-left: calc(var(--spacing) * 1.5);
   }

   ol li:where(:not(.not-prose, .not-prose *))::marker {
      color: var(--prose-marker-color);
   }

   strong span {
      margin: 0 !important;
   }

   a:not(:where(:is(h3, h4) *)):where(:not(.not-prose, .not-prose *)) {
      color: var(--prose-link-color);
      text-decoration: underline;
      text-underline-offset: 2px;
      text-decoration-color: var(--prose-link-underline-color);
      text-decoration-thickness: 1px;
      & code {
         font-weight: var(--font-weight-medium);
      }
   }

   strong:where(:not(.not-prose, .not-prose *)) {
      color: var(--prose-strong-color);
      font-weight: var(--font-weight-semibold);
   }

   .astro-code {
      background-color: var(--prose-code-background) !important;
      padding: 1rem;
      border-radius: 0.5rem;
      overflow-x: scroll;
      margin-block: 1rem;
   }

   code:where(:not(.not-prose, .not-prose *)) {
      background-color: var(--prose-code-background);
      font-variant-ligatures: none;
      font-family: var(--font-mono);
      font-weight: var(--font-weight-medium);
      color: var(--prose-code-color);
      font-size: var(--text-sm);
      padding: 2px 3px;
      border-radius: 4px;
   }

   table:where(:not(.not-prose, .not-prose *)) {
      width: 100%;
      table-layout: auto;
      margin-top: 2em;
      margin-top: 2em;
      font-size: var(--text-sm);
      line-height: 1.4;
   }

   thead:where(:not(.not-prose, .not-prose *)) {
      border-bottom-width: 1px;
      border-bottom-color: var(--prose-th-borders);
   }

   thead th:where(:not(.not-prose, .not-prose *)) {
      color: var(--prose-heading-color);
      font-weight: var(--font-weight-semibold);
      vertical-align: bottom;
      padding-inline-end: 0.6em;
      padding-bottom: 0.8em;
      padding-inline-start: 0.6em;
   }

   thead th:first-child:where(:not(.not-prose, .not-prose *)) {
      padding-inline-start: 0;
   }

   thead th:last-child:where(:not(.not-prose, .not-prose *)) {
      padding-inline-end: 0;
   }

   tbody tr:where(:not(.not-prose, .not-prose *)) {
      border-bottom-width: 1px;
      border-bottom-color: var(--prose-td-borders);
   }

   tbody tr:last-child:where(:not(.not-prose, .not-prose *)) {
      border-bottom-width: 0;
   }

   tbody td:where(:not(.not-prose, .not-prose *)) {
      vertical-align: baseline;
   }

   tfoot:where(:not(.not-prose, .not-prose *)) {
      border-top-width: 1px;
      border-top-color: var(--prose-th-borders);
   }

   tfoot td:where(:not(.not-prose, .not-prose *)) {
      vertical-align: top;
   }

   tbody td:where(:not(.not-prose, .not-prose *)),
   tfoot td:where(:not(.not-prose, .not-prose *)) {
      padding-top: 0.8em;
      padding-inline-end: 0.6em;
      padding-bottom: 0.8em;
      padding-inline-start: 0.6em;
   }

   tbody td:first-child:where(:not(.not-prose, .not-prose *)),
   tfoot td:first-child:where(:not(.not-prose, .not-prose *)) {
      padding-inline-start: 0;
   }

   tbody td:last-child:where(:not(.not-prose, .not-prose *)),
   tfoot td:last-child:where(:not(.not-prose, .not-prose *)) {
      padding-inline-end: 0;
   }

   th:where(:not(.not-prose, .not-prose *)),
   td:where(:not(.not-prose, .not-prose *)) {
      text-align: start;
   }

   td code:where(:not(.not-prose, .not-prose *)) {
      font-size: 0.8125rem;
   }

   hr:where(:not(.not-prose, .not-prose *)) {
      border-color: var(--prose-hr-color);
      margin-block: --spacing(8);
      & + h2 {
         margin-top: --spacing(8);
      }
   }

   blockquote {
      font-style: italic;
      border-inline-start-width: 0.25rem;
      border-inline-start-color: var(--prose-blockquote-border-color);
      padding-inline-start: calc(var(--spacing) * 3);
   }

   blockquote p:first-of-type::before {
      content: open-quote;
   }

   blockquote p:last-of-type::after {
      content: close-quote;
   }

   figure:where(:not(.not-prose, .not-prose *)) {
      figcaption:where(:not(.not-prose, .not-prose *)) {
         margin-top: calc(var(--spacing) * 3);
         text-align: center;
         font-size: var(--text-sm);
         line-height: var(--text-sm--line-height);
         font-style: italic;
         color: color-mix(in oklab, var(--prose-color) 75%, transparent);
      }
   }
}
