---
import { type CollectionEntry, getCollection } from "astro:content"
import { render } from "astro:content"
import Layout from "@/layout/base.astro"
import { formatDate } from "@vasyaqwe/core/date"

export const getStaticPaths = async () => {
	const posts = await getCollection("blog")

	return posts.map((post) => ({
		params: {
			slug: post.id,
		},
		props: post,
	}))
}
type Props = CollectionEntry<"blog">

const { Content } = await render(Astro.props)
const data = Astro.props.data
if (data.draft) return Astro.redirect("/404")
---

<Layout title={data.title} description={data.description}>
	<div class="mt-5">
		<a class="text-foreground/75 underline hover:text-foreground" href={"/"}>
			← Go back
		</a>
		<h1 class="mt-6 text-3xl">
			{data.title}
		</h1>
		<p class="text-primary-8 mt-2">
			{formatDate(data.date)}
		</p>
	</div>
	<article>
		<div class="prose py-5 md:py-10">
			<Content />
		</div>
	</article>
</Layout>
