---
import { type CollectionEntry, getCollection } from "astro:content"
import { render } from "astro:content"
import Layout from "@/layout/base.astro"

export const getStaticPaths = async () => {
	const posts = await getCollection("blog")

	return posts.map((post) => ({
		params: {
			slug: post.id,
		},
		props: post,
	}))
}
type Props = CollectionEntry<"blog">

const { Content } = await render(Astro.props)
const data = Astro.props.data
if (data.draft) return Astro.redirect("/404")
---

<Layout title={data.title}>
	<article class="container pb-20">
		<div class="prose max-w-none py-4">
			<Content />
		</div>
	</article>
</Layout>
